{% extends 'nationalarchives/templates/layouts/_prototype-kit.njk' %}

{% from 'nationalarchives/components/breadcrumbs/macro.njk' import tnaBreadcrumbs %}
{% from 'nationalarchives/components/card/macro.njk' import tnaCard %}

{% set pageTitle = 'Exhibitions' %}
{% set theme = 'light' %}
{% set themeAccent = 'blue' %}

{% block beforeContent %}
<div class="tna-container">
  {{ tnaBreadcrumbs({
    items: [
      {
        text: 'Home',
        href: '/'
      },
      {
        text: 'What’s on',
        href: '/'
      }
    ],
    classes: 'tna-column tna-column--full tna-!--padding-vertical-s'
  }) }}
</div>
{% endblock %}

{% block content %}
<div class="tna-container tna-!--padding-top-l">
  <div class="tna-column tna-column--width-2-3 tna-column--width-5-6-medium tna-column--full-small tna-column--full-tiny">
    <h1 class="tna-heading-xl">
      {{ pageTitle }}
    </h1>
    <p class="tna-large-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet luctus libero. Cras nec mauris ex. Fusce nisl erat, efficitur sed auctor ornare, varius fermentum arcu.</p>
  </div>
  <div class="tna-column tna-column--full">
    {{ tnaCard({
      supertitle: "Exhibition",
      title: "MI5: Official Secrets",
      headingLevel: 2,
      headingSize: "l",
      href: "https://www.nationalarchives.gov.uk/mi5-official-secrets/",
      text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet luctus libero. Cras nec mauris ex. Fusce nisl erat, efficitur sed auctor ornare, varius fermentum arcu.",
      imageSrc: "https://beta.nationalarchives.gov.uk/media/images/eventbrite-miranda-c.2e16d0ba.fill-600x400.format-jpeg.jpegquality-60.bgcolor-fff.jpg",
      imageWidth: 600,
      imageHeight: 400,
      imageAlt: "",
      horizontal: true,
      style: 'contrast',
      fullAreaClick: true,
      classes: 'tna-!--margin-top-l'
    }) }}
  </div>
</div>
<div class="tna-section tna-background-tint tna-!--margin-top-xl tna-padding-bottom-s">
  <div class="tna-container">
    <div class="tna-column">
      <h2 class="tna-heading-l">Past exhibitions</h2>
    </div>
  </div>
  <nav aria-label="Child pages" class="tna-!--margin-top-s">
    <ul class="tna-container">
      {%- for item in range(0, 6) %}
      <li class="tna-column tna-column--width-1-3 tna-column--width-1-3-medium tna-column--width-1-2-small tna-column--full-tiny tna-!--margin-bottom-l">
        {{ tnaCard({
          supertitle: "Past exhibition",
          title: "Item " + (item + 1),
          headingLevel: 2,
          headingSize: "m",
          href: "#",
          text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet luctus libero. Cras nec mauris ex. Fusce nisl erat, efficitur sed auctor ornare, varius fermentum arcu.",
          fullAreaClick: true
        }) }}
      </li>
      {%- endfor %}
    </ul>
  </nav>
</div>
{% endblock %}
